*{
    margin: 0;
    padding: 0;
}
.header {
    background-image: url('assets/header.png');
    height: 500px;
    background-position: center;  
}
p{
    text-align: center;
    color: white;
    margin-top: 100px;
    font-size: 80px;
    
   
}

.search{
    height: 40px;
    width: 40px;
}
.row{
    background-image: url('assets/BG.png');
    color: white;
}
.col{
    margin: 40px;
}
.btn{
    width: 100%;
}
.row1{
    display: flex;
}
.btn1{
    background-color: red;
    width: 50%;
    color: white;
    height: 50px;
}
.btn2{
    background-color: black;
    width: 50%;
    color: white;
    height: 50px;
}
.btn3{
    background-color:red;
    width: 100%;
    color: white;
    height: 50px;
}
.fr-bottom{
    text-align: center;
    margin-top: 30px;
    
}
img{
    margin:10px;
    

   
}
.row1{
    margin-top: 150px;
   
   
}
.mb-3{
    margin-right: 100px;
}
.bd{
    background-image: url('assets/BG3.png');
}
.full-width-image1 {
    width: 100vw; 
    height: auto; 
    display: block;
    margin: -10px;
    padding: 0;
   
}
.full-width-image2 {
    width: 100vw; 
    height: auto; 
    display: block;
    margin: -10px;
    padding: 0;
   
}

.row2{
    display: flex;
    color: black;
}
li{
    list-style-type: none;
    
   

}
a {
   
    text-decoration: none;
    font-size:20px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
   
  
}


.cont {
    position: relative;
}

.image-container {
    position: relative;
    display: inline-block;
}

.full-width-image {
    width: 100%;
    height: auto;
    display: block;
}

.bottom-left {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    color: white; /* Text color */
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better readability */
    padding: 10px; /* Padding around the text */
}
.input-group{
    border-bottom: grey solid 2px;
}

.centered-text {
    position: relative;
    top: 30%; /* Move the element 50% down from the top */


    text-align: center;
}
.horizontal-line {
    border-bottom: 3px solid white;
    width: 20%; 
    margin-top: 150px; 
    margin-left: 550px;
}

.horizontal-list {
    
    padding: 0; 
    display: flex; 
    margin-left: 650px;
    margin-top: 20px;
}

.horizontal-list li {
    margin-right: 10px; 
    color: white;
    text-align: center;
    
}

